<span class="float-right">
            <a href="#collapse-card-comment-<%= micropost.id %>" class="link-black text-sm" data-toggle="collapse">
              <i class="far fa-comments mr-1"></i> Comments(<%= micropost.post_comment.count %>)
            </a>
</span>