<% if search_user_list.present? %>
  <div class="row">
    <% search_user_list.each do |user| %>
      <div class="col-md-5 align-items-stretch d-flex justify-content-around m-md-4">
          <%= render "users/user_view", user: user %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>ユーザが存在しません</p>
<% end %>