<!-- About Me Box -->
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">About Me</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <strong><i class="fas fa-book mr-1"></i> Url</strong>

    <p class="text-muted">
      <%= user.profiles.url if user.profiles.url.present? %>
    </p>

    <hr>

    <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

    <p class="text-muted"><%= user.profiles.location if user.profiles.location.present? %></p>

    <hr>

    <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

    <p class="text-muted">
      <span class="tag tag-primary"><%= user.profiles.skills if user.profiles.skills.present? %></span>
    </p>

    <hr>

    <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

    <p class="text-muted"><%= user.profiles.notes if user.profiles.notes.present? %></p>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->