<!-- About Me Box -->
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">About Me</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <strong><i class="fas fa-book mr-1"></i> Url</strong>

    <p class="text-muted">
      <%= link_to user.profiles.url, user.profiles.url, id: "user_profile_url" %>
    </p>

    <hr>

    <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

    <p class="text-muted" id="user_profile_location"><%= user.profiles.location %></p>

    <hr>

    <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

    <p class="text-muted">
      <span class="tag tag-primary" id="user_profile_skill"><%= user.profiles.skills %></span>
    </p>

    <hr>

    <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

    <p class="text-muted" id="user_profile_notes"><%= user.profiles.notes %></p>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->